@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#container-principal {
    max-width: 1140px;
    margin: auto;
}

header {
    height: calc(10vh - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li:nth-child(1) {
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

/*li {
    display: block;
}*/

li a,
header h1 a {
    text-decoration: none;
    color: #000000;
}

li a:hover {
    text-decoration: underline;
}

#area-google-adsense {
    height: 1vh;
    background-color: #000000;
    margin-bottom: 20px;
}

main {
    height: 84vh;
}

#relogio {
    margin-top: 20px;
}

span {
    font-size: 14px;
}

footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 580px) {
    header {
        flex-direction: column;
    }

    h1 {
        font-size: 22px;
    }
}

@media (max-width: 1160px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 420px) {
    main h2 {
        font-size: 14px;
    }

    main span, p, li {
        font-size: 12px;
    }
}